@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Navbar */
header {
    text-align: center;
    padding: 1.5rem;
    background-color: #1a202c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.15rem;
}

nav a {
    font-weight: 600;
    color: #4fd1c5;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffffff;
}

/* Seção de História Integrada */
section.relative {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 4rem 0;
}

.image-hover-effect img {
    transition: transform 0.3s ease;
}

.image-hover-effect img:hover {
    transform: scale(1.05);
}

.parallax-text {
    transform: translateY(0);
    opacity: 1;
    transition: none; /* Remove qualquer transição no texto */
}

/* Divisor visual aprimorado */
.divider {
    position: relative;
    height: 6px; /* Aumentei a altura para dar mais destaque */
    margin: 3rem 0; /* Espaçamento maior para melhor separação */
    width: 70%; /* Aumentei a largura para dar mais destaque */
    background: linear-gradient(to right, #0a2a43, #01E4F6, #0a2a43); /* Gradiente com azul escuro e azul claro */
    border-radius: 10px; /* Borda arredondada para um design mais suave */
    overflow: hidden;
    box-shadow: 0 0 15px rgba(1, 228, 246, 0.3); /* Sombra sutil para destacar o divisor */
}

.divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(1, 228, 246, 0.3), transparent);
    animation: slide 3s linear infinite;
}

@keyframes slide {
    0% {
        left: -50%;
    }
    100% {
        left: 50%;
    }
}

/* Estilo para os títulos */
h2 {
    font-weight: 600; /* Peso levemente menor para títulos */
    color: #01E4F6;
}

/* Estilo para os cards de produtos */
.card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #1a202c; /* Cor de fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra inicial */
    transform-style: preserve-3d; /* Necessário para permitir rotação em 3D */
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 180px; /* Ajuste da altura da imagem para não cortar */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.15), transparent);
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.card:hover {
    transform: translateY(-10px) scale(1.05) rotateX(5deg) rotateY(5deg); /* Transforma o card para cima, escala e rotaciona */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 188, 212, 0.7); /* Adiciona uma sombra mais forte e uma sombra colorida */
}

.card:hover::before {
    opacity: 1;
}

/* Destaque no botão "Saiba Mais" */
.card a {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.card a:hover {
    background-color: #00C700; /* Cor de fundo quando o mouse passar por cima */
    color: #ffffff; /* Mantém o texto branco */
    box-shadow: 0 4px 15px rgba(0, 228, 246, 0.5); /* Adiciona uma sombra ao botão */
    transform: scale(1.05); /* Aumenta levemente o botão */
}

/* Botão principal */
.btn-primary {
    background-color: #00DC00;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    font-weight: bold; /* Texto em negrito */
}

/* Efeito de hover */
.btn-primary::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
    transition: transform 0.5s ease;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    pointer-events: none;
}

.btn-primary:hover::before {
    transform: translateX(50%) translateY(50%) rotate(45deg);
}

.btn-primary:hover {
    background-color: #00C700;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #1a202c;
    padding: 2.5rem;
    text-align: center;
}

footer p {
    color: #a0aec0;
    font-size: 0.875rem;
}

footer a img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

footer a img:hover {
    transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 1024px) {
    #nav-toggle {
        display: block;
    }

    #nav-content-mobile {
        display: block;
    }

    #nav-content {
        display: none;
    }
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
    .card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        background: #1a202c;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-bottom: 16px;
        padding: 16px;
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: opacity 0.3s ease;
    }

    .card-content {
        padding: 16px;
        color: white;
        text-align: center;
    }

    .card-content h3 {
        font-size: 1.25rem;
        margin-bottom: 8px;
    }

    .card-content p {
        font-size: 0.9rem;
        margin-bottom: 16px;
    }

    .card-content a {
        font-size: 1rem;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        background: #00DC00;
        padding: 10px 20px;
        border-radius: 50px;
        display: inline-block;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .card-content a:hover {
        background-color: #00C700;
        transform: scale(1.1);
    }
}

/* Estilo para os depoimentos */
.swiper-slide blockquote {
    font-size: 1.5rem;
    font-style: italic;
    color: #ffffff; /* Texto dos depoimentos em branco */
    margin-bottom: 1rem;
    padding: 1.5rem;
    background: transparent; /* Fundo transparente */
    border-left: 0; /* Remover a barra lateral */
    text-align: left; /* Alinhamento à esquerda */
    position: relative;
    line-height: 1.6;
}

.swiper-slide blockquote::before {
    content: '”';
    font-size: 3rem;
    color: #01E4F6; /* Azul claro para a citação */
    position: absolute;
    top: -10px;
    left: -10px; /* Ajuste da posição para alinhar com a barra vertical */
}

.swiper-slide blockquote::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px; /* Posicionar a barra vertical à esquerda da citação */
    width: 3px;
    height: 100%;
    background-color: #01E4F6; /* Cor da barra vertical */
}

.swiper-slide footer {
    font-size: 1.25rem;
    font-weight: bold;
    color: #01E4F6; /* Azul claro para o nome */
    margin-top: 1rem;
    text-align: right; /* Alinhamento à direita */
    background: transparent; /* Remove o fundo */
}

/* Removendo margem adicional dos depoimentos */
.swiper-slide {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

/* Ajustes gerais */
#testimonials {
    padding: 2rem 1rem;
}

#testimonials h2 {
    margin-bottom: 2rem;
    color: #01E4F6;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
    .swiper-slide blockquote {
        font-size: 1.25rem;
        padding: 0.8rem;
        line-height: 1.4;
    }

    .swiper-slide footer {
        font-size: 1rem;
    }
}

/* Seção de Produtos Interativa */
#products {
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
    margin-bottom: 4rem; /* Aumenta o espaço entre a seção de produtos e a próxima seção */
}

/* Seção de Depoimentos */
#testimonials {
    padding: 2rem 1rem;
    color: #fff;
    background-color: #000;
}
