@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Título e Subtítulo */
h2 {
    font-weight: 600;
    color: #01E4F6;
}

h3 {
    font-weight: 500;
    color: #01E4F6;
}

/* Botões */
.btn-primary {
    background-color: #00DC00;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #00C700;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Estilo para a seção flexível com imagem e texto */
section.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 2rem 0;
    padding: 1rem;
}

section.flex img {
    width: 400px;
    height: 400px;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    section.flex {
        flex-direction: row;
    }

    section.flex img {
        margin-bottom: 0;
        margin-right: 2rem;
    }

    section.flex p {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    section.flex img {
        width: 500px;
        height: 500px;
    }

    section.flex {
        padding: 2rem 4rem;
    }
}

/* Estilo para as imagens da seção Para Quem é */
.para-quem-mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.para-quem-mapa > div {
    flex: 1 1 22%;
    padding: 0;
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-quem-mapa img {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .para-quem-mapa > div {
        flex: 1 1 48%;
        margin: 10px 0;
    }
}

@media (max-width: 640px) {
    .para-quem-mapa {
        flex-direction: column;
        align-items: center;
    }

    .para-quem-mapa > div {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

/* Estilo para a grade de depoimentos */
.depoimentos-grid {
    display: grid;
    gap: 2px;
}

.depoimentos-grid div {
    flex: 1 1 48%;
    margin: 0;
}

.depoimentos-grid img {
    width: 90%;
    height: auto;
}

@media (max-width: 640px) {
    .depoimentos-grid {
        grid-template-columns: 1fr;
    }

    .depoimentos-grid div {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}
